<div class="container mt-4">
    <div class="row">
        <div class="col-sm-12">
            <div class="dropdown-divider"></div>
            <div class="mt-5 text-center">
                <button type="button" class="btn btn-dark mx-2">
                    <i class="fa fa-youtube"></i>
                </button>                
                <button type="button" class="btn btn-dark mx-2">
                    <i class="fa fa-facebook"></i>
                </button>
                <button type="button" class="btn btn-dark mx-2">
                    <i class="fa fa-instagram"></i>
                </button>
                <button type="button" class="btn btn-dark mx-2">
                    <i class="fa fa-linkedin"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<footer class="mt-5 bg-dark text-light p-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <h4 class="font-weight-light">About Us</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                </p>
            </div>
            <div class="col-sm-3">
                <h4 class="font-weight-light">Links</h4>
                <ul>
                    <li>About us</li>
                    <li>Products</li>
                    <li>Category 1</li>
                    <li>Category 2</li>
                  </ul>
            </div>
            <div class="col-sm-4">
                <h4 class="font-weight-light">Location</h4>
                <p>
                    Arempou 30, Drymos-Thessalonikis 
                    57200
                    Greece
                </p>
                <p class="mb-0"><i class="fa fa-phone"> +30 2310615090</i></p>
                <p><i class="fa fa-envelope"> info@steelwood.gr</i></p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            
        </div>
    </div>
    <div class="container mt-3">
        <div class="row">
            <div class="col-sm-12">
                <div class="dropdown-divider"></div>
            </div>
        </div>
    </div>
    <div class="container mt-2">
        <div class="row">
            <div class="col-sm-12">
                <p>2020 Copyrights &copy; | Steelwood.gr</p>
            </div>
        </div>
    </div>
</footer>
